@font-face {
  font-family: "iconfont"; /* Project id 3931221 */
  src: url('iconfont.woff2?t=1677917301467') format('woff2'),
       url('iconfont.woff?t=1677917301467') format('woff'),
       url('iconfont.ttf?t=1677917301467') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-layer:before {
  content: "\e613";
}

.icon-moxingtiaodu:before {
  content: "\e60e";
}

.icon-VertexShader:before {
  content: "\e620";
}

